.countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.spinner {
    display: none;
}
#spinner {
    display: none;
    margin: auto; 
    padding: 20px;
}